<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Client Information</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    td {
      cursor: pointer;
    }

    button {
      margin-top: 10px;
    }

    .table-container {
      margin-bottom: 30px;
    }

    .hidden {
      display: none;
    }
  </style>
</head>

<body>
  <h1>WSR Creation</h1>

  <div style="display: flex;">
    <form method="POST">
      <label for="select_project" style="font-size: small"><b>SELECT PROJECT</b></label><span class=""> : </span>
      <select id="select_project" name="select_project">
        {% for option in project_list %} {% if option == selected_project %}
        <option value="{{ option }}" selected>{{ option }}</option>
        {% else %}
        <option value="{{ option }}">{{ option }}</option>
        {% endif %} {% endfor %}
      </select>
    </form>
    <div>&emsp;</div>
    <form method="POST">
      <label for="select_week" style="font-size: small"><b>SELECT WEEK</b></label><span class=""> : </span>
      <select id="select_week" name="select_week">
        {% for option in week_list %} {% if option == selected_week %}
        <option value="{{ option }}" selected>{{ option }}</option>
        {% else %}
        <option value="{{ option }}">{{ option }}</option>
        {% endif %} {% endfor %}
      </select>
    </form>
  </div>

  <div class="table-container">
    <h2>Utilization By Task</h2>
    <table id="utilizationByTask">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data rows will be inserted here dynamically -->
      </tbody>
    </table>
    <button class="addRow" data-table="utilizationByTask">Add Row</button>
  </div>

  <div class="table-container">
    <h2>Utilization By Resource</h2>
    <table id="utilizationByResource">
      <thead>
        <tr>
          <th>Resource Name</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data rows will be inserted here dynamically -->
      </tbody>
    </table>
    <button class="addRow" data-table="utilizationByResource">Add Row</button>
  </div>

  <div class="table-container">
    <h2>Task Last Week</h2>
    <table id="taskLastWeek">
      <thead>
        <tr>
          <th>Task</th>
          <th>Status</th>
          <th>ETC</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data rows will be inserted here dynamically -->
      </tbody>
    </table>
    <button class="addRow" data-table="taskLastWeek">Add Row</button>
  </div>

  <div class="table-container">
    <h2>Task Current Week</h2>
    <table id="taskCurrentWeek">
      <thead>
        <tr>
          <th>Task</th>
          <th>Status</th>
          <th>ETC</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data rows will be inserted here dynamically -->
      </tbody>
    </table>
    <button class="addRow" data-table="taskCurrentWeek">Add Row</button>
  </div>

  <div class="table-container">
    <h2>Week Defect Summary</h2>
    <table id="weekDefectSummary">
      <thead>
        <tr>
          <th>Defect ID</th>
          <th>Defect Name</th>
          <th>Severity</th>
          <th>Status</th>
          <th>Assigned To</th>
          <th>ETC</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data rows will be inserted here dynamically -->
      </tbody>
    </table>
    <button class="addRow" data-table="weekDefectSummary">Add Row</button>
  </div>

  {% set activity_this_week_enabled = activity_this_week_enable | tojson %}
  {% if activity_this_week_enable %}
  <div class="table-container">
    <h2>Activity This Week</h2>
    <table id="activityThisWeek">
      <thead>
        <tr>
          <th>Activity</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        {% set activities = ['Manual test cases created', 'Manual test cases conducted', 'Automation test cases
        created', 'Automation test cases processed', 'Bugs identified'] %}
        {% for activity in activities %}
        <tr class="{% if activity in  activity_this_week_data %}hidden{% endif %}">
          <td>{{ activity }}</td>
          <td contenteditable="true"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  <button id="saveData">Save</button>
  <button id="cancel">Cancel</button>
  <button onclick="window.location.href = '/edit';">Edit</button>
  <script>
    $(document).ready(function () {
      $("#select_project").on("change", function () {
        $(this).closest("form").submit();
      });
    });
    $(document).ready(function () {
      $("#select_week").on("change", function () {
        $(this).closest("form").submit();
      });
    });

    const tableConfigurations = {
      "weekDefectSummary": 5,
      "taskLastWeek": 2,
      "taskCurrentWeek": 2
    };
    document.querySelectorAll(".addRow").forEach(button => {
      button.addEventListener("click", function () {
        var tableId = this.getAttribute('data-table');
        var table = document.getElementById(tableId);
        var newRow = table.getElementsByTagName('tbody')[0].insertRow();
        var numCols = table.rows[0].cells.length;
        for (var i = 0; i < numCols; i++) {
          var cell = newRow.insertCell(i);
          if (tableConfigurations.hasOwnProperty(tableId) && i === tableConfigurations[tableId]) {
            const input = document.createElement('input');
            input.type = 'date';
            cell.appendChild(input);
          } else {
            cell.contentEditable = true;
          }
        }
      });
    });
    // @ts-nocheck
    var activityThisWeekEnabled = {{ activity_this_week_enabled }};
    document.getElementById("saveData").addEventListener("click", function () {
      var project = document.getElementById("select_project").value;
      var week = document.getElementById("select_week").value;

      function collectData(tableId) {
        var table = document.getElementById(tableId).getElementsByTagName('tbody')[0];
        var rows = table.getElementsByTagName('tr');
        var data = [];
        for (var i = 0; i < rows.length; i++) {
          var cells = rows[i].getElementsByTagName('td');
          var rowData = [];
          if (tableId === 'activityThisWeek' && cells[cells.length - 1].innerText.trim() === "") {
            console.log("Empty last column, skipping row");
            continue;
          }
          for (var j = 0; j < cells.length; j++) {
            rowData.push(cells[j].innerText);
          }
          data.push(rowData);
        }
        return data;
      }
      var activity_this_week = null;
      var utilization_by_task = collectData('utilizationByTask');
      var utilization_by_resource = collectData('utilizationByResource');
      var task_last_week = collectData('taskLastWeek');
      var task_current_week = collectData('taskCurrentWeek');
      var week_defect_summary = collectData('weekDefectSummary');
      if (activityThisWeekEnabled) {
        var activity_this_week = collectData('activityThisWeek');
      }

      console.log(activity_this_week)
      fetch('/save_data', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          project: project,
          week: week,
          utilization_by_task: utilization_by_task,
          utilization_by_resource: utilization_by_resource,
          task_last_week: task_last_week,
          task_current_week: task_current_week,
          week_defect_summary: week_defect_summary,
          activity_this_week: activity_this_week
        })
      }).then(response => {
        if (response.ok) {
          alert('Data saved successfully');
        } else {
          alert('Error saving data');
        }
        location.reload();
      });

    });

    document.getElementById("cancel").addEventListener("click", function () {
      document.querySelectorAll("tbody").forEach(tbody => {
        tbody.innerHTML = '';
      });
    });
  </script>
</body>

</html>